<!DOCTYPE html>

<html>
<head>
    <title>InfoSys - Edit Image</title>
    <script src="{{ url_for('static', filename='konva.min.js') }}"></script>
    <script src="{{ url_for('static', filename='drawImage.js') }}"></script>
    <style>
    	#image { overflow: auto; }
    	fieldset{display:inline;}
    </style>
    <meta charset="utf-8">
</head>
<body>
	<div id="text">
	    <form id="text-form" action="text" method="POST" >
	      <fieldset>
			  <legend>Settings</legend>
		      Space: <br />
			  <input name="space" value=0 /> <br />
			  Key: <br />
			  <input name="key" value="d71ae24b-7c35-44d4-8b77-1b1eea6ec137"><br />
		  </fieldset> <br />
		  <fieldset>
		  	  <legend>Text Settings</legend>
		      Text: <br />
			  <input name="text" value="Insert Text to Display" /> <br />
			  Mode: <br />
			  <select name="mode">
			    <option value="HOLD">Hold</option>
			    <option value="FLASH">Flash</option>
			    <option value="ROLL UP">Roll Up</option>
			    <option value="ROLL DOWN">Roll Down</option>
			    <option value="ROLL LEFT">Roll Left</option>
			    <option value="ROLL RIGHT">Roll Right</option>
			    <option value="WIPE UP">Wipe Up</option>
			    <option value="WIPE DOWN">Wipe Down</option>
			    <option value="WIPE LEFT">Wipe Left</option>
			    <option value="WIPE RIGHT">Wipe Right</option>
			    <option value="SCROLL">Scroll</option>
			    <option value="AUTOMODE">Automode</option>
				<option value="ROLL IN">Roll In</option>
				<option value="ROLL OUT">Roll Out</option>
				<option value="WIPE IN">Wipe In</option>
				<option value="WIPE OUT">Wipe Out</option>
				<option value="COMPRESSED">Compressed</option>
				<option value="EXPLODE">Explode</option>
				<option value="CLOCK">Clock</option>
				<option value="TWINKLE">Twinkle</option>
				<option value="SPARKLE">Sparkle</option>
				<option value="SNOW">Snow</option>
				<option value="INTERLOCK">Interlock</option>
				<option value="SWITCH">Switch</option>
				<option value="SLIDE">Slide</option>
				<option value="SPRAY">Spray</option>
				<option value="STARBURST">Starburst</option>
				<option value="WELCOME">Welcome</option>
				<option value="SLOT MACHINE">Slot Machine</option>
				<option value="NEWS FLASH">News Flash</option>
				<option value="TRUMPET">Trumpet</option>
				<option value="CYCLE COLORS">Cycle Colors</option>
				<option value="THANK YOU">Thank You</option>
				<option value="NO SMOKING">No Smoking</option>
				<option value="DONT DRINK AND DRIVE">Don't Drink and Drive</option>
				<option value="RUNNING ANNIMALS OR FISH">Running animals or fish</option>
				<option value="FIREWORKS">Fireworks</option>
				<option value="BALLOON">Ballon</option>
				<option value="CHERRY BOMB">Cherry Bomb</option>
			  </select> <br />
		  </fieldset>
		  <br />
		  <input type="submit" value="Submit" />
		</form>
	</div>
	<div id="image">
	    <div id="image-canvas"></div>
	    <div>
	    	<form id="drawForm">
	    		<fieldset>
		    		<legend>Settings</legend>
		    		Width (1-255): <br />
		    		<input name="width" value="80"><br />
		    		Height (1-31): <br />
		    		<input name="height" value="7"><br />
		    		Space: <br />
		    		<input name="space" value="0"><br />
		    		Key: <br />
		    		<input name="key" value="d71ae24b-7c35-44d4-8b77-1b1eea6ec137"><br />
		    		<input type="submit" value="Change Settings"><br />
		    	</fieldset>
		    	<fieldset>
		    		<legend>Drawing Color</legend>
		    		<input type="radio" name="color" value="0" checked>Off<br />
		    		<input type="radio" name="color" value="1">Red<br />
		    		<input type="radio" name="color" value="2">Green<br />
		    		<input type="radio" name="color" value="3">Amber<br />
		    		<input type="radio" name="color" value="4">Yellow<br />
		    		<input type="radio" name="color" value="5">Dim Red<br />
		    		<input type="radio" name="color" value="6">Dim Green<br />
		    		<input type="radio" name="color" value="7">Brown<br />
		    		<input type="radio" name="color" value="8">Orange<br />
		    	</fieldset>
	    	</form><br />
	    	<button onclick="sendImage()">Submit</button>
	    </div>
    </div>
    
</body>
</html>