<!DOCTYPE html>

<html>
<head>
    <title>InfoSys - Edit Image</title>
    <script src="{{ url_for('static', filename='konva.min.js') }}"></script>
    <script src="{{ url_for('static', filename='drawImage.js') }}"></script>
    <style>
    	#image-canvas { overflow: auto; }
     	fieldset{display:inline;}
    </style>
    <meta charset="utf-8">
</head>
<body>
	<p> Create Image '{{ name }}' </p>
	<p> Text: <ol>{% for text in texts %}<li>{{ text }}</li>{% endfor %}</ol> </p>
	<p> Modes: <ol>{% for mode in modes %}<li>{{ mode }}</li>{% endfor %}</ol> </p>
	<div id="image-canvas"></div>
	<form id="drawForm">
		<fieldset>
    		<legend>Size</legend>
    		Width (1-255): <br />
    		<input name="width" value="80"><br />
    		Height (1-31): <br />
    		<input name="height" value="7"><br />
    		<input type="submit" value="Change Size">
    	</fieldset>
    	<fieldset>
    		<legend>Drawing Color</legend>
    		<input type="radio" name="color" value="0" checked>Off<br />
    		<input type="radio" name="color" value="1">Red<br />
    		<input type="radio" name="color" value="2">Green<br />
    		<input type="radio" name="color" value="3">Amber<br />
    		<input type="radio" name="color" value="4">Yellow<br />
    		<input type="radio" name="color" value="5">Dim Red<br />
    		<input type="radio" name="color" value="6">Dim Green<br />
    		<input type="radio" name="color" value="7">Brown<br />
    		<input type="radio" name="color" value="8">Orange<br />
    	</fieldset>
	</form><br />
	<button onclick="sendImage()">Submit</button>
    
</body>
</html>